__history
Lazarus/HproseIndy.pas
Lazarus/HproseSyna.pas
Lazarus/HproseLnet.pas
*.o
*.ppu
*.compiled
*.bak
*.dcu
*.otares
*.dproj
*.local
*.ico
*.identcache
*.rsj
*.~pas
*.~dpr
*.cfg
*.exe
*.deployproj
*.dof
*.stat
dunit.ini
__recovery
Debug
Release
*.xml
